@tailwind base;
@tailwind components;
@tailwind utilities;
.deleteIcon{
    opacity: 0;
}
.card:hover .deleteIcon{
    opacity: 1;
}

@media (max-width: 768px) {
   .deleteIcon{
    opacity: 1;
   }
  }